//colores
$color-negro:#2b2c2c;
$otro-negro:#605E5E;
$color-blanco:#FFF;
$color-primario:#6E98AA;
$color-gris: #ccc;
//fonts
$titulo-serif: 'Clearface', sans-serif;
$subtitulo: 'Poppins', sans-serif;
$texto-normal:'Arial', sans-serif;

@font-face {
    font-family: 'Clearface';
    src: url('/fonts/ITC-Clearface-Std-Heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Poppins-Regular.ttf');
    }

//tamaño de fonts
$size-h1: 52px;
$size-h2: 42px;
$size-numeros: 52px;
$size-h3: 30px;

//tamaños
$max-width: 900px;


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


//ESTILOS GENERALES
h2{
    font-family: $titulo-serif;
    font-size: $size-h2;
    margin-bottom: 35px;

}

h3{
    font-family: $titulo-serif;
    font-size: $size-h3;
    }

p{
    font-family: $texto-normal;

}

//LINKS
a{
text-decoration: none;
}

//Header


header{
    height: 550px;
    background-image: url("/img/frida-kahlo-painting.jpg");
    background-size:cover;
    color: $color-negro;  

    .titulo{
    margin:auto;        
    max-width: $max-width;
    padding: 100px 5px 100px 5px;
    p{
        margin-top: 15px;
    font-family: $subtitulo;   
    font-size: 30px;   
    }
}
    h1{
        font-family: $titulo-serif;
        font-size: $size-h1;

    }
}

.logo{
    display:flex;
    justify-content: center;
    font-family: $titulo-serif;
    font-weight: 900;
    padding: 12px;
    border-bottom: 1px solid #ccc;
  a{
      color: $color-primario;
    font-size: 22pt;
    font-style: $texto-normal;
  }
}



//NAV-BAR

nav{
    margin:auto;
    padding: 25px;
    max-width: $max-width;
    ul{
        display:flex;
        justify-content:space-around ;
        font-family: $texto-normal;
        list-style: none;
        a{
        color: $color-negro;
    
         }

    }
 }
 


//SECTIONS
section{
    margin:auto;        
        max-width: $max-width;
        padding: 60px 5px 60px 5px;
        position:relative;
  
}

//CIFRAS  
    .cifras{
        small{
            padding: 0px 0px 30px;
        }
    }
    .decoration{
        top: 120px;
        width: 70px;
        background-color: $color-primario;
        position: absolute;
        height: 7px;
        }
    
//TABLA CIFRAS

    .tabla{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 15px;
grid-row-gap: 15px;
margin: auto;
margin-bottom: 50px;
        max-width: 630px;
    }

 
    .value{
        font-family: $titulo-serif;
        font-size: 54px;
        color: $color-primario;
        border-bottom: 1px solid $otro-negro;
        }
      
    .item{
        font-family: $texto-normal;
        font-weight: bold;
        color: $otro-negro;
        font-size: 16px;
        margin: 16px 0px 0px;
        }
  

        //MEDIA QUERIES -puntos de corte
       

  /* On screens that are 600px wide or less */
  @media screen and (max-width: 600px) {
    nav{
        display:none;
    }
    header{
        color: $otro-negro;
        h1{
            font-size: 40px;
          }            
    }
    h2{
    font-size: 32px;
    }
    h3{
    font-size: 25px;   
    }
    p{
    font-size:14px;
    }
    .decoration{
        top:100px;
    }
    .value{
    font-size: 35px;
    }
   
}
  
@media screen and (min-width: 601px) {
    /*NOTICIAS*/   
        
        .container > div:nth-child(2){
            order: 4;
            margin: auto;
        }
    
        .container > div:nth-child(3){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 25px;
    
        }

        p{
            line-height: 25px;
        }
    
     }

     
     /*NOTICIAS*/
     .background{
        background-color: #2b2c2c;
        color: white;
    }
    
    .container{
        max-width: 850px;
        display: flex;
        flex-direction: column;
    }
    
    .container img{
    width:100%;
    max-width: 590px;
    }

    //mas inforación
    .masInfo{
        a{
            font-family: $texto-normal;
            font-size: 12px;
            color: $color-blanco;
            padding: 5px 0px;
            img{
                width: 14px;
            }
        }
    }