@font-face {
  font-family: "Clearface";
  src: url("/fonts/ITC-Clearface-Std-Heavy.otf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Poppins-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "Clearface", sans-serif;
  font-size: 42px;
  margin-bottom: 35px;
}

h3 {
  font-family: "Clearface", sans-serif;
  font-size: 30px;
}

p {
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
}

header {
  height: 550px;
  background-image: url("/img/frida-kahlo-painting.jpg");
  background-size: cover;
  color: #2b2c2c;
}
header .titulo {
  margin: auto;
  max-width: 900px;
  padding: 100px 5px 100px 5px;
}
header .titulo p {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
header h1 {
  font-family: "Clearface", sans-serif;
  font-size: 52px;
}

.logo {
  display: flex;
  justify-content: center;
  font-family: "Clearface", sans-serif;
  font-weight: 900;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}
.logo a {
  color: #6E98AA;
  font-size: 22pt;
  font-style: "Arial", sans-serif;
}

nav {
  margin: auto;
  padding: 25px;
  max-width: 900px;
}
nav ul {
  display: flex;
  justify-content: space-around;
  font-family: "Arial", sans-serif;
  list-style: none;
}
nav ul a {
  color: #2b2c2c;
}

section {
  margin: auto;
  max-width: 900px;
  padding: 60px 5px 60px 5px;
  position: relative;
}

.cifras small {
  padding: 0px 0px 30px;
}

.decoration {
  top: 120px;
  width: 70px;
  background-color: #6E98AA;
  position: absolute;
  height: 7px;
}

.tabla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: auto;
  margin-bottom: 50px;
  max-width: 630px;
}

.value {
  font-family: "Clearface", sans-serif;
  font-size: 54px;
  color: #6E98AA;
  border-bottom: 1px solid #605E5E;
}

.item {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #605E5E;
  font-size: 16px;
  margin: 16px 0px 0px;
}

/* On screens that are 600px wide or less */
@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
  header {
    color: #605E5E;
  }
  header h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 14px;
  }
  .decoration {
    top: 100px;
  }
  .value {
    font-size: 35px;
  }
}
@media screen and (min-width: 601px) {
  /*NOTICIAS*/
  .container > div:nth-child(2) {
    order: 4;
    margin: auto;
  }
  .container > div:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 25px;
  }
  p {
    line-height: 25px;
  }
}
/*NOTICIAS*/
.background {
  background-color: #2b2c2c;
  color: white;
}

.container {
  max-width: 850px;
  display: flex;
  flex-direction: column;
}

.container img {
  width: 100%;
  max-width: 590px;
}

.masInfo a {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #FFF;
  padding: 5px 0px;
}
.masInfo a img {
  width: 14px;
}/*# sourceMappingURL=style.css.map */